Source: ros-lyrical-rosbag2-to-video
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-lyrical-ament-copyright <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-mypy <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/rosbag2_to_video/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rosbag2-to-video
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libopencv-dev, python3-opencv, ros-lyrical-cv-bridge, ros-lyrical-rclpy, ros-lyrical-ros2bag, ros-lyrical-rosbag2-py, ros-lyrical-rosidl-runtime-py, ros-lyrical-ros-workspace
Description: Command line tool to create a video from a rosbag recording
