Source: ros-humble-rosbag2-to-video
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-mypy <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rosbag2-to-video
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libopencv-dev, python3-opencv, ros-humble-cv-bridge, ros-humble-rclpy, ros-humble-ros2bag, ros-humble-rosbag2-py, ros-humble-rosidl-runtime-py, ros-humble-ros-workspace
Description: Command line tool to create a video from a rosbag recording
