Source: ros-rolling-rosbag2-to-video
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-mypy <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rosbag2-to-video
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libopencv-dev, python3-opencv, ros-rolling-cv-bridge, ros-rolling-rclpy, ros-rolling-ros2bag, ros-rolling-rosbag2-py, ros-rolling-rosidl-runtime-py, ros-rolling-ros-workspace
Description: Command line tool to create a video from a rosbag recording
